.name{
    text-align: center;
    // border: 1px solid;
}

.home_image_rotate{
    margin-top: 2rem;
    text-align: center;
}

.home_carousel{
    margin: auto;
    text-align: center;
    width: 756px;

}

@media only screen and (max-width: 1100px) {
    .home_carousel{
        width: 600px;
    }
}

@media only screen and (max-width: 800px) {
    .home_carousel{
        width: 100%;
    }
}