.name{
    text-align: center;
    margin-top: 2rem;
}

.home_image_rotate{
    margin-top: 2rem;
    text-align: center;
}

.home_carousel{
    margin: auto;
    text-align: center;
    width: clamp(300px, 50vw, 756px);

}