.navbar{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    // border: 1px solid;
    &_container{
        width: clamp(300px, 30%, 800px);
        display: flex;
        justify-content: space-between;
        // border: 1px solid;

        &>div{
            // border: 1px solid red;
            width: 90px;
            text-align: center;
            &>a{
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    color: #e77320;
                }
            }
        }
    }

}

.selected{
    color: #e77320;
}

.not {
    color: rgb(161, 161, 161);
}

@media only screen and (max-width: 1000px) {
    .navbar{
        &_container{        
            &>div{
                &>a{
                    letter-spacing: 0px !important;
                    
                }
            }
        }
    

    }
}